<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accueil</a>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="signup-form">
              <form action="" class="mt-5 border p-4 bg-light shadow">
                  <h4 class="mb-5 text-secondary">Ajouter un Utilisateur</h4>
                  <div class="row">
                      <div class="mb-3 col-md-12">
                          <label><span class="text-danger">*</span></label>
                          <input type="password" name="lastpass" class="form-control" placeholder="Ancien Mot de Passe">
                      </div>
                      <div class="mb-3 col-md-12">
                        <label><span class="text-danger">*</span></label>
                        <input type="password" name="newpass" class="form-control" placeholder="Nouveau Mot de Passe">
                    </div>
                    <div class="mb-3 col-md-12">
                      <label><span class="text-danger">*</span></label>
                      <input type="password" name="newpass" class="form-control" placeholder="Confirmer Mot de Passe">
                  </div>
                      <div class="col-md-12">
                         <button class="btn btn-primary float-end">Valider</button>
                      </div>
                  </div>
              </form>
              <p class="text-center mt-3 text-secondary"><a href="#"></a></p>
          </div>
      </div>
  </div>
</div>
