
<div class="container">
  <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Grid</li>
          </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">

          <div class="col mb-3" *ngFor="let item of items">
            <div class="card">
              <img src="/assets/768.jpg" alt="Cover" class="card-img-top">
              <div class="card-body text-center">
                <img src="/assets/708.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                <h4 class="card-title">{{item.nom}}</h4>
                <h3 class="card-title">{{item.prenom}}</h3>
                <p class="text-secondary mb-1">{{item.telephone}}</p>
                <p class="text-muted font-size-sm">{{item.email}}</p>
                <p class="text-muted font-size-sm">{{item.profil}}</p>
                <p class="text-muted font-size-sm">{{item.genre}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
