<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accueil</a>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="signup-form">
              <form action="" class="mt-5 border p-4 bg-
              light shadow" [formGroup]="options" (ngSubmit)="ajout()">
                  <h4 class="mb-5 text-secondary">Ajouter un Utilisateur</h4>
                  <div class="row">
                      <div class="mb-3 col-md-6">
                          <label>Prenoms<span class="text-danger">*</span></label>
                          <input type="text" name="prenom" formControlName="prenom" class="form-control" placeholder="Prenoms">
                      </div>

                      <div class="mb-3 col-md-6">
                          <label>Nom<span class="text-danger">*</span></label>
                          <input type="text" name="nom" formControlName="nom" class="form-control" placeholder="Nom">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label>Age<span class="text-danger">*</span></label>
                        <input type="number" name="age" formControlName="age"  class="form-control" placeholder="Age">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label>Genre<span class="text-danger">*</span></label>
                      <input type="text" name="genre" formControlName="genre" class="form-control" placeholder="Genre">
                  </div>
                  <div class="mb-3 col-md-6">
                    <label>Statuts<span class="text-danger">*</span></label>
                    <select name="profil" id="" class="form-control"formControlName="profil">
                      <option value="">Statuts de l'utilisateur</option>
                      <option value="apprenant">Apprenant</option>
                      <option value="formateur">Formateur</option>
                    </select>
                </div>

                      <div class="mb-3 col-md-12">
                          <label>Date d'ajout<span class="text-danger">*</span></label>
                          <input type="datetime-local" formControlName="dateCreation" name="date" class="form-control" placeholder="date d'ajout">
                      </div>
                      <div class="mb-3 col-md-12">
                          <label><span class="text-danger">*</span></label>
                          <input type="number" name="telephone" formControlName="telephone" class="form-control" placeholder="Numero de telephone">
                      </div>
                      <div class="mb-3 col-md-12">
                        <label><span class="text-danger">*</span></label>
                        <input type="email" name="email" formControlName="email" class="form-control" placeholder="Adresse Email">
                    </div>
                      <div class="col-md-12">
                         <button class="btn btn-primary float-end" type="submit">Ajouter</button>
                      </div>
                  </div>
              </form>
              <p class="text-center mt-3 text-secondary"><a href="#"></a></p>
          </div>
      </div>
  </div>
</div>
